.contact {
  padding: 120px 10%;
  text-align: center;
  color: white;
  background: transparent;
}

.contact h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.contact p {
  color: #aaa;
  margin-bottom: 40px;
}

.contact-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.contact-icons a {
  width: 55px;
  height: 55px;
  background: #141414;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8b5cf6;
  font-size: 24px;
  transition: 0.3s;
}

.contact-icons a:hover {
  background: #8b5cf6;
  color: white;
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(139, 92, 246, 0.4);
}
